@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

body{background-color: #f8f8f8;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color:#000;
}

a{
text-decoration: none;
font-weight:normal;
color:#000;
}


.abstract{
        font-size: 16px;
	color: #666666;
        margin-bottom: 10px;
}

.abstract a{
	color: #666666;
}




.main {max-width: 1200px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 100px; /*-100px;*/
	display: flex;
	flex-direction: column;
}


.space{height: 60px;}

.maintitle{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 50px;
	color:#753bbd;
	line-height: 1;
}


.talk-title{
	font-family: 'Lato', sans-serif;
font-size: 16px;
color:#753bbd;
max-width: 70%;
font-weight: 900;

}
.section-title{
	font-family: 'Lato', sans-serif;
font-size: 30px;
font-weight: 900;
color:#753bbd;

}

.first{
	display: flex;
	flex-direction: row;
	max-width: 50%;
}


.section{
	padding-top:60px;

}

.section p{
	max-width: 60%;
	margin-top: 10px;
}

.talk-details  p{
	width: 100%;
        margin-top: 10px;

}
.talk-details{
	
}



.section-subtitle{
	font-weight: 900;
	margin-top: 30px;
}

.talk-date{
	color: #666666;

}

.speaker-name {
	font-weight: 700;}

.speaker-name a{
	font-weight: 700;}


.abstract{display: none;
border-bottom: 1.5px solid #666;
max-width: 60%;
margin-bottom: 40px;
padding-top: 10px;
}

.abstract p{max-width: 100%;
margin-top: 0px;
margin-bottom: 10px;}


.sub-section{
	display: flex;
	flex-direction: row;
}


.contact{
	color: #666;
	margin-left:20px;
	}


.menu{
	margin-top: 10px;
	justify-content: center;
	position: fixed;
}
.flex{display: flex;
      flex-direction: row;}



.menu  li{ margin-bottom: 5px;
padding-right: 30px;}
.menu ul, .menu li{list-style-type: none;
text-align: center;
}

a:hover{ border-bottom: solid 1.5px #753bbd; }

.link-abstract-open{ border-bottom: solid 1.5px #666; }
.link-abstract-open:hover{ border-bottom: solid 1.5px #753bbd; }

@media (max-width: 640px){

a { border-bottom: solid 1.5px #753bbd; }
.icon { fill: #753bbd;}
}

.showalwayslink{ border-bottom: solid 1.5px #753bbd;}



.talk-details{
	margin-top:20px;
}

 .talkanchor{
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}


 .header{
	position: -webkit-sticky; /* Safari */
	position: fixed;
		background-color: rgba(248, 248, 248, 0.9);
height: 50px;
	top: 0px;
width: 100%;
max-width: 1200px;

	
	padding-right: 10%;
	padding-left:10%;}




.links a{ color: #666; }


.link-middle, .link-first {
	margin-right: 20px;
	
}
.link-middle, .link-last {
	margin-left: 20px;
	
}






@media (max-width: 1100px){
	img{max-width: 90%;
		margin-left: 20px;
		}


	}

@media (max-width: 930px){
	.maintitle{
	font-size: 40px;
	}


.talk-title{
font-size: 14px;
color:#753bbd;
max-width: 100%;

}
.section-title{
font-size: 20px;
}

.speaker{}
body{
	font-size: 14px;

}

.abstract {
 font-size: 12px;
 margin-bottom: 8px;}


}

@media (max-width: 770px){

.section p{
	max-width: 100%;

}
.main{
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 70px;
	width: 94%;
	}

.header{
	padding-left: 3%;
	padding-right:3%;
	}

.sub-section{
	flex-direction: column;

}

iframe{height: 350px;
	width: 90%;
}

}




@media (max-width: 600px){
.first{
	flex-direction: column;
	max-width: 100%;
	img{
		width: 50%;
		margin-top: 30px;
		margin-left: 0px;
	}
}


@media (max-width: 400px){
	.title{
	
font-size: 30px;
}


.maintitle{
font-size: 20px;
color:#753bbd;
}
.section{padding-top: 30px;}

.section-title{
font-size: 15px;
}

body{
	font-size: 13px;

}
.abstract{ font-size: 12px;margin-bottom: 8px;}
img{width: 100%;}




/*tirar*/
.header{display: none;}
}






